@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    transition:#F2F5F9 0.3s ease, black 0.3s ease ;
}

body{
    background-color: #F2F5F9;
}

body.dark{
    background-color: #121212;
}
button.dark{
    color: #F2F5F9;
}
